У меня в детстве были сотки с покемонами! ^^

In [59]:
import pandas as pd
import numpy as np

In [220]:
pokemon = pd.read_csv('pokemon.csv')
abilities = pd.read_csv('abilities.csv')
egg_group = pd.read_csv('egg_groups.csv')

## Данные

In [135]:
pokemon.head()

,id,identifier,name,name_phonetic,species,name_jp,name_jp_romaji,species_jp,generation_id,ndex,...,exp_yield,base_happiness,egg_group1_id,egg_group2_id,is_baby,baby_breed_item_id,hatch_counter,lvl_100_exp,pokemon_order,legacy_id
0,1,bulbasaur,Bulbasaur,Bulbasaur,Seed,フシギダネ,Fushigidane,たね,1,1,...,64,70,1,7.0,0,NaN,20,1059860,1,1.0
1,2,ivysaur,Ivysaur,Ivysaur,Seed,フシギソウ,Fushigisou,たね,1,2,...,141,70,1,7.0,0,NaN,20,1059860,2,2.0
2,3,venusaur,Venusaur,Veenasore,Seed,フシギバナ,Fushigibana,たね,1,3,...,208,70,1,7.0,0,NaN,20,1059860,3,3.0
3,4,charmander,Charmander,Char-mander,Lizard,ヒトカゲ,Hitokage,とかげ,1,4,...,65,70,1,14.0,0,NaN,20,1059860,4,4.0
4,5,charmeleon,Charmeleon,Char-meeleon,Flame,リザード,Lizardo,かえん,1,5,...,142,70,1,14.0,0,NaN,20,1059860,5,5.0

Данны содержат категориальные (вид), бинарные (бэби/не бэби), порядковые (уровень счастья) признаки.

In [62]:
pokemon.columns

Index(['id', 'identifier', 'name', 'name_phonetic', 'species', 'name_jp',
       'name_jp_romaji', 'species_jp', 'generation_id', 'ndex', 'kdex', 'jdex',
       'jdex_old', 'hdex', 'sdex', 'udex', 'type1_id', 'type2_id',
       'ability1_id', 'ability2_id', 'abilitydream_id',
       'evolution_parent_pokemon_id', 'evolution_method_id',
       'evolution_parameter', 'height', 'weight', 'gender_rate', 'catch_rate',
       'exp_yield', 'base_happiness', 'egg_group1_id', 'egg_group2_id',
       'is_baby', 'baby_breed_item_id', 'hatch_counter', 'lvl_100_exp',
       'pokemon_order', 'legacy_id'],
      dtype='object')

#### Попробуем понять, что значат эти характеристики:

id - номер

identifier, name, name_phonetic, name_jp, name_jp_romaji - это все имя

species, species_jp - вид покемона

generation_id - поколение покемона

evolution_parent_pokemon_id, evolution_method_id, evolution_parameter - родитель, тип эволюции и какие-то параметры

height, weight - рост, вес

is_baby - 0/1 беби или нет

base_happiness - уровень счастья

ability1_id, ability2_id, abilitydream_id - типы суперспособностей

gender_rate - это, видимо, соотношение мальчиков/девочек этой особи (0 - только мальчики, 8 - только девочки, -1 - бесполые)

catch_rate - насколько покемона легко поймать (чем выше цифра, тем легче)

exp_yield - опыт, который получаешь, если убил покемона

lvl_100_exp - опыт, который нужен, чтобы достичь 100 уровня

hatch_counter - время вылупления яйца

egg_group1_id, egg_group2_id - есть две категории яиц, указано, к каким относится покемон и к какому подтипу этих категорий

type1_id, type2_id - есть 18 типов, поделенных на две группы, покемонов может иметь 1 тип из первой и 1 из второй

ndex, kdex, jdex, jdex_old, hdex, sdex, udex, pokemon_order, legacy_id - какие-то номера покемонов в разных системах

#### Посмотрим на основную статистику

In [66]:
pokemon.shape

(663, 38)

In [67]:
pokemon[pokemon.columns[24:35]].describe() #смотреть на статистику первых колонок не имеет смысла

//anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,height,weight,gender_rate,catch_rate,exp_yield,base_happiness,egg_group1_id,egg_group2_id,is_baby,baby_breed_item_id,hatch_counter
count,663.000000,663.000000,663.000000,663.000000,663.000000,663.000000,663.000000,175.000000,663.000000,9.000000,663.000000
mean,11.490196,577.039216,3.022624,98.920060,141.375566,66.033183,6.452489,7.908571,0.027149,280.111111,27.669683
std,10.543944,927.302988,2.126889,76.800668,59.858184,19.112375,4.329735,3.586803,0.162641,27.624466,24.401434
min,1.000000,1.000000,-1.000000,3.000000,20.000000,0.000000,1.000000,2.000000,0.000000,231.000000,5.000000
25%,6.000000,99.000000,1.000000,45.000000,83.000000,70.000000,3.000000,NaN,0.000000,NaN,20.000000
50%,10.000000,288.000000,4.000000,60.000000,145.000000,70.000000,5.000000,NaN,0.000000,NaN,20.000000
75%,14.000000,609.000000,4.000000,175.000000,187.500000,70.000000,10.000000,NaN,0.000000,NaN,25.000000
max,145.000000,9500.000000,8.000000,255.000000,390.000000,140.000000,15.000000,14.000000,1.000000,297.000000,120.000000

## Preprocessing

Избавимся от NaN и преобразуем признаки со строчками в признаки с цифрами (последнее не пригодилось, но пусть будет).

In [106]:
import sklearn
from sklearn import preprocessing

In [221]:
pokemon = pokemon.fillna(0)
pokemon.tail()

,id,identifier,name,name_phonetic,species,name_jp,name_jp_romaji,species_jp,generation_id,ndex,...,exp_yield,base_happiness,egg_group1_id,egg_group2_id,is_baby,baby_breed_item_id,hatch_counter,lvl_100_exp,pokemon_order,legacy_id
658,10010,rotom,Rotom,Rotom,Plasma,ロトム,Rotom,プラズマ,4,479,...,132,70,11,0.0,0,0.0,20,1000000,489,487.0
659,10011,rotom,Rotom,Rotom,Plasma,ロトム,Rotom,プラズマ,4,479,...,132,70,11,0.0,0,0.0,20,1000000,488,488.0
660,10012,rotom,Rotom,Rotom,Plasma,ロトム,Rotom,プラズマ,4,479,...,132,70,11,0.0,0,0.0,20,1000000,491,499.0
661,10017,darmanitan,Darmanitan,Darmanitan,Blazing,ヒヒダルマ,Hihidaruma,えんじょう,5,555,...,189,70,5,0.0,0,0.0,20,1059860,572,0.0
662,10018,meloetta,Meloetta,Meloetta,Melody,メロエッタ,Meloetta,せんりつ,5,648,...,270,100,15,0.0,0,0.0,120,1250000,666,0.0

In [147]:
pokemon_num = pd.DataFrame()
for column in pokemon:
    pokemon_num[column] = pd.Categorical.from_array(pokemon[column]).codes

In [148]:
pokemon_num.head()

,id,identifier,name,name_phonetic,species,name_jp,name_jp_romaji,species_jp,generation_id,ndex,...,exp_yield,base_happiness,egg_group1_id,egg_group2_id,is_baby,baby_breed_item_id,hatch_counter,lvl_100_exp,pokemon_order,legacy_id
0,0,58,58,58,365,442,158,205,0,0,...,20,2,0,5,0,-1,3,3,0,0
1,1,252,252,252,365,441,159,205,0,1,...,92,2,0,5,0,-1,3,3,1,1
2,2,602,602,599,365,443,157,205,0,2,...,157,2,0,5,0,-1,3,3,2,2
3,3,75,75,75,248,409,232,245,0,3,...,21,2,0,11,0,-1,3,3,3,3
4,4,76,76,76,158,613,331,73,0,4,...,93,2,0,11,0,-1,3,3,4,4

## Поиск зависимостей

### 1. Проверим гипотезу о том, что метод эволюции не влияет на то, выше среднего время вылупления из яйца или ниже

Для этого сначала добавим столбец hatch_counter_mean со значением 1, если время больше среднего, и 0, если меньше.

In [222]:
mean = np.mean(pokemon['hatch_counter'])
pokemon['hatch_counter_mean'] = '-'

In [224]:
for i in range(0, len(pokemon['hatch_counter'][:])):
    if pokemon['hatch_counter'][i] > mean:
        pokemon['hatch_counter_mean'][i] = 1
    else:
        pokemon['hatch_counter_mean'][i] = 0

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [410]:
evol_values = list(pokemon['evolution_method_id'].unique())
len(evol_values)

23

Всего 23 значения метода эволюции. Т.е. 23\*22/2 = 253 неупорядоченные пары. Т.е. 253 таблицы сопряженности. Найдем все пары.

In [228]:
pairs = []
for i in range(0, len(evol_values)):
    for j in range(i+1, len(evol_values)):
        pair = [evol_values[i], evol_values[j]]
        pairs.append(pair)

Посмотрим на примере пары методов [1.0, 20.0] и пары значений hatch_counter_mean [0, 1], как выглядит таблица сопряженности. Для этого сначала оставим только ту часть таблицы, в которой значения признака метод эволюции равно 1.0 или 20.0:

In [229]:
evol_1 = pokemon[pokemon['evolution_method_id']==1.0]
evol_20 = pokemon[pokemon['evolution_method_id']==20.0]
frames = [evol_1, evol_20]
evol_1_20 = pd.concat(frames)

In [284]:
#таблица сопряженности метода и вылупления
tab_evol_1_20_hatch = pd.crosstab(evol_1_20['evolution_method_id'], evol_1_20['hatch_counter_mean'])
tab_evol_1_20_hatch

hatch_counter_mean     0   1
evolution_method_id
1.0                  197  28
20.0                   1   0

Теперь создадим массив с 253-мя такими таблицами

In [293]:
tables_evol_hatch = []
for i in pairs:
    evol_i1 = pokemon[pokemon['evolution_method_id']==i[0]]
    evol_i2 = pokemon[pokemon['evolution_method_id']==i[1]]
    frames = [evol_i1, evol_i2]
    evol_i1_i2 = pd.concat(frames)
    tab_evol_i1_i2_hatch = pd.crosstab(evol_i1_i2['evolution_method_id'],evol_i1_i2['hatch_counter_mean'])
    tables_evol_hatch.append(tab_evol_i1_i2_hatch)

In [294]:
for i in range(len(tables_evol_hatch)):
    if len(tables_evol_hatch[i].columns) < 2:
        if tables_evol_hatch[i].columns[0] == 0:
            tables_evol_hatch[i]['1'] = [0, 0]
        else:
            tables_evol_hatch[i]['0'] = [0, 0]

Применим критерий Фишера и посчитаем уровни достигаемой значимости для каждой таблицы.

In [239]:
import scipy
import scipy.stats

In [297]:
p_values_fisher = []
for i in tables_evol_hatch:
    p_values_fisher.append(scipy.stats.fisher_exact(i))

In [298]:
n = 0
for i in p_values_fisher:
    if i[1] < 0.05:
        n += 1
n

3

Всего 3 достигаемых уровней значимости оказались меньше, чем α=0.05 (на Фишере) - очень мало относительно 253, связи нет.

### 2. Оценим корелляцию между уровнем частья base_happiness и весом weight / ростом height.

In [358]:
happy = pokemon['base_happiness']
weight = pokemon['weight'] 
height = pokemon['height']
exp = pokemon['exp_yield']

In [303]:
pearson_happy_weight = scipy.stats.pearsonr(happy, weight)
pearson_happy_weight #коэффициент корелляции и двухвостый p_value

(-0.40240708427839028, 3.3695346671122963e-27)

In [304]:
spearmanr_happy_weight = scipy.stats.spearmanr(happy, b=weight, axis=0)
spearmanr_happy_weight #коэффициент корелляции и двусторонний p_value

SpearmanrResult(correlation=-0.25742561808383801, pvalue=1.7009707917528601e-11)

Коэффициент Спирмена принимает значения от -1 до 1. Чем сильнее связь между признаками, тем больше коэффициент по модулю.
Если коэффициент равен +1, то между признаками есть прямая линейная связь, а если коэффициент равен -1, то между признаками есть обратная линейная связь.
Если признаки несвязаны, то k=0.
Коэффициент показывает слабую зависимость (>-0.3 и <0) => скорее всего между признаками практически нет линейной связи.
p_value << 0.05 подвеждают значимость этих выводов.

К сожалению, в жизни корелляция есть и еще какая :(

In [308]:
spearmanr_happy_height = scipy.stats.spearmanr(happy, b=height, axis=0)
spearmanr_happy_height #коэффициент корелляции и двусторонний p_value

SpearmanrResult(correlation=-0.24803030680999608, pvalue=9.4256656666406455e-11)

то же самое

!зато есть корелляция между ростом и опытом, который дают, за то, что победил покемона! Спирман > 0.7 и p_value подтвреждает зависимость.

In [366]:
spearmanr_exp_height = scipy.stats.spearmanr(exp, b=height, axis=0)
spearmanr_exp_height #коэффициент корелляции и двусторонний p_value

SpearmanrResult(correlation=0.74117444506997587, pvalue=1.6537058463344625e-116)

есть еще логичная обратная зависимость между catch_rate и опытом, который дают за победу в драке (обратная, потому что catch_rate тем выше, чем проще поймать, а чем проще, тем меньше очков дают)

In [367]:
spearmanr_exp1_height = scipy.stats.spearmanr(exp, b=pokemon['catch_rate'], axis=0)
spearmanr_exp1_height #коэффициент корелляции и двусторонний p_value

SpearmanrResult(correlation=-0.68967606486075206, pvalue=9.6894628132208616e-95)

### 3. Оценим корелляцию между поколением generation_id и гендерным распределением gender_rate,

Обе переменные категориальные, будем считать коэффицент корреляции Крамера.

In [462]:
gender = pokemon['gender_rate']
gener = pokemon['generation_id']

Чтобы посчитать коэффициент Крамера, построим сопряженную таблицу для generation_id и gender_rate.

In [463]:
table_gender_gener = pd.crosstab(gener, gender)
table_gender_gener

gender_rate    -1   0   1   2    4   6   8
generation_id
1              13   6  19  10   91   6   6
2               8   2  13   2   67   5   3
3              19   2  14   2   95   4   2
4              24   2  20   2   59   2   7
5              17   7  21   3  101   5   4

In [464]:
def cramers_stat_new(confusion_matrix): #источник примерно http://stackoverflow.com/questions/20892799/using-pandas-calculate-cram%C3%A9rs-coefficient-matrix
    chi2 = scipy.stats.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    return np.sqrt(chi2 / (n*(min(confusion_matrix.shape)-1)))

In [465]:
cramer_gender_gener = cramers_stat_new(table_gender_gener)
cramer_gender_gener

0.11785311264618413

Коэффициент V Крамера — мера силы взаимосвязи между двумя категориальными переменными. Принимает значения от нуля до единицы. 
Судя по коэффициенту 0.1 связи нет.

Здесь уже таблица не 2*2, будет использовать критерий хи-квадрат для проверки гипотезы об отсутствии связи между признаками.

гипотеза H0 - связи между признаками нет
гипотеза H1 - связь между признаками есть

In [466]:
scipy.stats.chi2_contingency(table_gender_gener)

(36.834572537365325,
 0.04545099637480244,
 24,
 array([[ 18.448,   4.327,  19.814,   4.327,  94.062,   5.011,   5.011],
        [ 12.217,   2.866,  13.122,   2.866,  62.293,   3.318,   3.318],
        [ 16.86 ,   3.955,  18.109,   3.955,  85.964,   4.579,   4.579],
        [ 14.172,   3.324,  15.222,   3.324,  72.259,   3.849,   3.849],
        [ 19.303,   4.528,  20.733,   4.528,  98.422,   5.243,   5.243]]))

p_value получился < 0.05, связи действительно нет

## Предсказание

Посмотрим, можно ли хорошо предсказать уровень счастья покемона по его физическим характеристикам и тому, насколько его легко поймать: 
    
    height, weight, ability1_id, ability2_id, abilitydream_id, catch_rate

In [498]:
cols = ['height', 'weight', 'ability1_id', 'ability2_id', 'abilitydream_id', 'catch_rate']
X = pokemon[cols]

In [499]:
X.head()

   height  weight  ability1_id  ability2_id  abilitydream_id  catch_rate
0       7      69           65          0.0             34.0          45
1      10     130           65          0.0             34.0          45
2      20    1000           65          0.0             34.0          45
3       6      85           66          0.0             94.0          45
4      11     190           66          0.0             94.0          45

In [500]:
Y = pokemon['base_happiness']

In [488]:
from collections import Counter
Counter(Y)

Counter({0: 22, 35: 66, 70: 546, 90: 5, 100: 14, 140: 10})

Поделим данные на обучающую и тестовые выборки.

In [504]:
from sklearn.cross_validation import train_test_split

In [506]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=.3)

#### Метод k-ближайших соседей

In [592]:
from sklearn import neighbors, datasets

In [593]:
knn = neighbors.KNeighborsClassifier(n_neighbors=6, weights='uniform')
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)

In [539]:
from sklearn.metrics import classification_report
target_names=['0', '35', '70', '90', '100', '140']
print(classification_report(y_test, Y_pred,  target_names=target_names))

             precision    recall  f1-score   support

          0       0.44      0.80      0.57         5
         35       0.43      0.12      0.19        24
         70       0.86      0.97      0.91       161
         90       0.00      0.00      0.00         1
        100       1.00      0.20      0.33         5
        140       0.00      0.00      0.00         3

avg / total       0.78      0.82      0.78       199

//anaconda/lib/python3.5/site-packages/sklearn/metrics/classification.py:1074: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

Точность 0.78, так себе. Попробуем попозже другую модель.

#### Модель - RandomForest

In [576]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf = clf.fit(X_train, y_train)
Y_pred = clf.predict(X_test)
clf.score(X_test, y_test)

0.87437185929648242

In [577]:
target_names=['0', '35', '70', '90', '100', '140']
print(classification_report(y_test, Y_pred,  target_names=target_names))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00         5
         35       0.86      0.25      0.39        24
         70       0.88      0.99      0.93       161
         90       0.50      1.00      0.67         1
        100       1.00      0.20      0.33         5
        140       0.50      0.33      0.40         3

avg / total       0.87      0.87      0.84       199

Средняя точность 0.87, полнотна 0.87, ничего так вполне. На двух классах даже 100$ предсказание.

Чтобы посмотреть, как происходит принятие решений на 1 из деревьев, можно воспользоваться методом DecisionTreeClassifier, который работает почти так же хорошо:

In [582]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
Y_pred = clf.predict(X_test)
clf.score(X_test, y_test)

0.84422110552763818

In [584]:
clf.tree_

In [585]:
from sklearn.tree import export_graphviz

with open('output.dot', 'w') as f:
    f = export_graphviz(clf, out_file = f)

In [589]:
class PDF(object):  #источник https://stackoverflow.com/questions/19470099/view-pdf-image-in-an-ipython-notebook
  def __init__(self, pdf, size=(200,200)):
    self.pdf = pdf
    self.size = size

  def _repr_html_(self):
    return '<iframe src={0} width={1[0]} height={1[1]}></iframe>'.format(self.pdf, self.size)

  def _repr_latex_(self):
    return r'\includegraphics[width=1.0\textwidth]{{{0}}}'.format(self.pdf)

In [591]:
PDF('tree.pdf',size=(800,450))